<div class="main-body">
  <div class="add-button">
    <p>
      <button id="openBtn" (click)="openDialog()">Add new announcement</button>
    </p>
    <dialog class="add-dialog" #addDialog>
      <form #addForm="ngForm">
        <div class="modal-body">
          <label id="title-label">Title:</label>
          <input type="text" id="title" name="title" [(ngModel)]="announcementModel.title" required>

          <label id="description-label">Description:</label>
          <input type="text" id="description" name="description" [(ngModel)]="announcementModel.description" required>
        </div>
        <div>
          <button (click)="closeDialog()">Cancel</button>
          <button (click)="addAnnouncement()" id="addBtn" type="submit" >Confirm</button>
        </div>
      </form>
    </dialog>
  </div>
  <div class="announcements">
    <table>
      <tr *ngFor="let announcement of announcements" >
        <div class="announcement-item">
          <app-announcements (refresh)="refreshPage()" [announcement]="announcement"></app-announcements>
        </div>
      </tr>
    </table>
  </div>
</div>